body
{
    width: 100%;
    float: left;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.container{
	margin: 0 auto;
	padding: 0;
    width: 1260px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #0000009e;
}
.modal-open .modal {
overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 100px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
   /* border-top: 1px solid #e5e5e5;*/
}
/*div {
    display: block;
}
*/
.addbox{
	    width: 100%;
    	float: left;
}
.labelCenter h4{
    text-align: center;
    width: 100%;
    float: left;
    margin: 0;
    padding:30px 0;
     font-size:30px;
        color: #005580;
}
.table_style{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
        border: 1px solid #ccc;
    border-radius: 3px;

}
.table_style tr
{
    text-align: center;
    display: table-row;
}
.table_style tr:nth-child(odd){
    background:  #cceeff;
}
.table_style th{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background:  #1ab2ff;
    text-transform:capitalize;
    font-size: 18px;
}
.table_style td {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-transform: capitalize;
}
.edit_form{
    float: right;
    margin: 0;
    padding: 0;

}
.edit_title{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
}
.edit_title h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #005580;
}
input[type='text']{
    width: 40%;
    padding: 10px 15px;
    float: left;
    border: 1px solid #ccc;
}
.addbox p{
    width: 15%;
    float: left;
    font-weight: 700;
}
.btn_edit{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1ab2ff;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.addbtn{
    float: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1ab2ff;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
input[type="file"]{
    margin: 15px 0 0 0;
}